/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

a{
  text-decoration: none;
  color:white;
  white-space: nowrap;
}

p {
  color: black;
}

a:hover{
  cursor:pointer;
}

/* Box-sizing border-box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
  height:100vh;
  background: #dbba24;
}

.wrapper{
  min-height: 100vh;
  background: url("../../assets/images/test/title2.png");
}

img{
  display: block;
  opacity: 0.99;
}

td{
  border: solid black 1px;
  padding: 2px 20px;
  white-space: pre;
}
/* Some default styles to make each box visible */
.box {
  color:white;
  border-bottom: solid black 2px;
  font-size: 24pt;
  text-align: center;
  text-shadow:4px 4px 0 rgba(0,0,0,0.1);
  padding:30px;
  height: 97px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
}

.box:hover a{
  text-decoration: underline;
}

/* Colours for each box */
.box1 { background:#DBBA24;}
.box2 { background:#838272;}
.box3 { background:#464560;}

/* We start writing out flexbox here. The above is just page setup */
.container {
  display:flex;
  flex-wrap: wrap;
}

@media only screen and (max-device-width: 375px){
  .wrapper{
    display: none;
  }
}

.desktop-only{
  position: absolute;
  top:0;
  left:0;
  height:100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.95);
  color:white;
  z-index: 1000;
  opacity: 0.95;
  padding: 10%;
}

@media only screen and (min-device-width : 768px){
  .desktop-only{
    display: none;
  }
}

.btn{
  width: 300px;
  height: 100px;
  background: rgba(255,255,255,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24pt;
  color: black;
  border-radius: 15px;
}

.btn:hover{
  cursor: pointer;
}

.layer0, .layer1, .layer2{
  width: 100%;
  -webkit-transition: height 1s;
  transition: height 1s;
  height: calc(100% - 48px);
  position: absolute;
}

.layer0{
  height: calc(100% - 97px);
  padding-left: calc(5% + 15px);
  padding-right: calc(2% + 5px);
  text-align: left;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 230px;
}

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  height:50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  margin: 0;
  text-align: center;
}

.footer * {
  display: inline
}

.footer img{
  margin: 0 4%;
  padding: 4px 1% 0 1%;
  border: solid rgba(255, 255, 255, 0) 3px;
}

.footer img:hover{
  border-style: hidden;
}

.layer1{
  background-color: #838272;
}

.hero-title{
  font-size: 18pt;
  font-weight: 600;
}

.layer1 .bounce{
  z-index: 1;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-name: updown;
  animation-direction: alternate;
}

@keyframes updown {

  0% { -ms-transform: translate(0, 0); /* IE 9 */ -webkit-transform: translate(0, 0); /* Safari */ transform: translate(0, 10); }
  25% { -ms-transform: translate(0, 0); /* IE 9 */ -webkit-transform: translate(0, 0); /* Safari */ transform: translate(0, 10); }
  30% { -ms-transform: translate(0, 20px); /* IE 9 */ -webkit-transform: translate(0, 20px); /* Safari */ transform: translate(0, 20px); }
  70% { -ms-transform: translate(0, 20px); /* IE 9 */ -webkit-transform: translate(0, 20px); /* Safari */ transform: translate(0, 20px); }
  75% { -ms-transform: translate(0, 0); /* IE 9 */ -webkit-transform: translate(0, 0); /* Safari */ transform: translate(0, 10); }
  100% { -ms-transform: translate(0, 0); /* IE 9 */ -webkit-transform: translate(0, 0); /* Safari */ transform: translate(0, 10); }

}

.layer2{
  background-color: #464560;
  /*display: flex;
  flex-direction: column;*/
}

.content1{
  margin-top: 15px;
  margin-left: calc(5% + 15px);
  margin-right: calc(2% + 5px);
  align-content: center;
  position: relative;
  transition: opacity 1s ease-in 0s;
}

.demo-btns{
  padding: 10px 15px;
}

.anims{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@keyframes cf3FadeInOut {
    0% { opacity: 1; }
    25% { opacity: 1; }
    40% { opacity: 0; }
    60% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 1; }
}

.btn1{
  margin-top: 90px;
}

.button-anim {
  width: 250px;
  height:200px;
}

.button-anim img{
  position: absolute;
}

.button-anim .top {
    animation-name: cf3FadeInOut;
    animation-iteration-count: infinite;
    animation-duration: 14s;
    animation-direction: alternate;
}

@keyframes doorupdown {
  0% { -ms-transform: translate(0, 10px); /* IE 9 */ -webkit-transform: translate(0, 10px); /* Safari */ transform: translate(0, 10px); }
  25% { -ms-transform: translate(0, 10px); /* IE 9 */ -webkit-transform: translate(0, 10px); /* Safari */ transform: translate(0, 10px); }
  30% { -ms-transform: translate(0, -50px); /* IE 9 */ -webkit-transform: translate(0, -50px); /* Safari */ transform: translate(0, -50px); }
  70% { -ms-transform: translate(0, -50px); /* IE 9 */ -webkit-transform: translate(0, -50px); /* Safari */ transform: translate(0, -50px); }
  75% { -ms-transform: translate(0, 10px); /* IE 9 */ -webkit-transform: translate(0, 10px); /* Safari */ transform: translate(0, 10px); }
  100% { -ms-transform: translate(0, 10px); /* IE 9 */ -webkit-transform: translate(0, 10px); /* Safari */ transform: translate(0, 10px); }
}

.door-anim .bounce{
  z-index: 1;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-name: doorupdown;
  animation-direction: alternate;
}

.door-anim {
  width: 250px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.content2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.c2_1 { background-image: url("../../assets/images/demo/lev1.png");}
.c2_2 { background-image: url("../../assets/images/demo/lev2.png");}
.c2_3 { background-image: url("../../assets/images/demo/lev3.png");}
.c2_4 { background-image: url("../../assets/images/demo/lev4.png");}
.c2_5 { background-image: url("../../assets/images/demo/lev5.png");}
.c2_6 { background-image: url("../../assets/images/demo/lev6.png");}
.c2_7 { background-image: url("../../assets/images/demo/lev7.png");}
.c2_8 { background-image: url("../../assets/images/demo/lev8.png");}

.b1{ transition: opacity 1s ease-in 0s; }
.b2{ transition: opacity 1s ease-in 0.2s; }
.b3{ transition: opacity 1s ease-in 0.4s; }
.b4{ transition: opacity 1s ease-in 0.6s; }
.b5{ transition: opacity 1s ease-in 0.8s; }
.b6{ transition: opacity 1s ease-in 1s; }
.b7{ transition: opacity 1s ease-in 1.2s; }
.b8{ transition: opacity 1s ease-in 1.4s; }


.hide{
  display: none;
}

.minified{
  height: 0;
}

.transparent{
  opacity: 0;
}

.scroll-lock{
  overflow: hidden;
}

.c2{
  flex-basis: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /*transition: all .2s ease-in-out;*/
}

.c_box{
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}

.c2:hover { transform: scale(1.15); }
