html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
    font-family: arial;
}
canvas {
    width: 100%;
    height: 100%
}
#clock {
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
}
#endgame {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    align-items: center;
    justify-content: center;
    font-family: Courier;
    font-size: 75pt;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1000;
}

.clock {
    top: 0.75em;
    left: 0.75em;
    padding: 0 0.25em 0 0.25em;
    font-size: 22pt;
    border-radius: 10px;
}
.clock-rewind {
    top: 40%;
    margin: 0 30% 0 30%;
    padding: 0;
    width: 40%;
    text-align: center;
    font-size: 48pt;
    border-radius: 15px;
}
#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background-image: url('../../images/static2.png');
    /*we want this but not while debuggin */
}
#rewind {
    display: none;
    color: #ff0000;
    font-size: 50pt;
    position: absolute;
    right: 0.75em;
}
#instructions {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    cursor: default;
}

.paused{
  font-size:50px;
  color: rgba(256, 256, 256, 0.8);
}

.paused:hover{
  cursor: pointer;
  text-decoration: underline;
}
