/*@import url(https://fonts.googleapis.com/css?family=Biryani:400,600);*/

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #ffffff;
	margin: 0;
	overflow: hidden;
	font-family: arial;
}

canvas {
    width: 100%;
    height: 100%
}

#clock {
	display: block;
	position: absolute;
	top: 0.75em;
	left: 0.75em;
	padding: 0 0.25em 0 0.25em;
	color: #000000;
	/*font-family: 'Biryani', sans-serif;*/
	font-size: 18pt;
	background-color: white;
	border-radius: 10px;
}

#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#instructions {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}
